[Unit]
Description=Setup loop devices
DefaultDependencies=false
ConditionFileIsExecutable=/usr/lib/systemd/scripts/losetup-{{ device_name }}.sh
After=systemd-udev-settle.service
Required=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/doloops
TimeoutSec=60
RemainAfterExit=yes
