description "Setup loopback device"

start on virtual-filesystems

task

script
  DEVICE_PATH=/dev/{{ device_name }}
  DEVICE_FILE={{ device_file }}

  losetup $DEVICE_PATH $DEVICE_FILE || exit 0
end script
